<!DOCTYPE html>

<html lang="en">
    
	<head>
        <meta charset="utf-8"/>
		<meta name="google-site-verification" content="dKPaxvNRw9Fp79BiXZHFSmVK6Z0t6dV5aT7WH2arEKI" />
        <title>Dan Pezzin</title>
        
        <link href="/styles/site.css" rel="stylesheet" type="text/css" />
        <link href="/styles/nav.css" rel="stylesheet" type="text/css" />
        <link href="/styles/footer.css" rel="stylesheet" type="text/css" />
        
        <link href="/styles/pages/index.css" rel="stylesheet" type="text/css" />
        
        <link href="/styles/mobile.css" rel="stylesheet" type="text/css" />
        <link href="/styles/print.css" media="print" rel="stylesheet" type="text/css" />
    </head>
    
	<body>
	    <div class="outer-wrapper">
			<div class="wrapper">
				<header>
					<nav class="page-nav">
						<div class="container">
							<a href="/index.cshtml" class="active">Networks</a>
							<a href="/about.htm">About</a>
							<a href="/resources.html">Resources</a>
							<a href="/contact.cshtml">Contact</a>
						</div>
					</nav>
				</header>
				<br>
				<br>
				<br>
				<section class="myNetworks">
					<div class="button-container">
						<div class="row">
							<span>
								<a class="button" href="http://www.linkedin.com/pub/daniel-pezzin/99/766/734"><img src="/images/buttons/linkedin.png" alt="Linkedin"/></a>
							</span>
						</div>
						<div class="row">
							<span>
								<a class="button" href="https://twitter.com/LieutenantDDan"><img src="/images/buttons/twitter.png" style="margin-right: 140px; border=0px;" alt="Twitter"/></a>
							</span>
							<span>
								<a class="button" href="https://www.facebook.com/dan.pezzin"><img src="/images/buttons/facebook.png" alt="Facebook"/></a>
							</span>
						</div>
						<div class="row">
							<span class="button">
								<a href="http://vimeo.com/user11714677"><img src="/images/buttons/vimeo.png" style="margin-right: 50px;" alt="Vimeo"/></a>
							</span>
							<span class="button">
								<a href="http://open.spotify.com/user/dpezzin"><img src="/images/buttons/spotify.png" alt="Spotify"/></a>
							</span>
						</div>
					</div>
				</section>
				<br>
				<br>
				<br>
				<footer class="page-footer">
					<div class="container">
						<p>
							&#169; 2014 Dan Pezzin
						</p>
					</div>
				</footer>
			</div>
		</div>

        <script src="/scripts/offline.js" type="text/javascript"></script>
        <script src="/scripts/_namespace.js" type="text/javascript"></script>
    </body>
</html>
