@{
    ViewBag.Title = "Review";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<strong>ID:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
<strong>Title:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
<strong>Content:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
<strong>Publish Date:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
<strong>Etc:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />

